ANTHROPIC_API_KEY=
CYVL_API_KEY=
CYVL_PROJECT_ID=f15b854a-d203-49c7-bc25-1350dd4a1cd6
CYVL_BASE=https://i3.cyvl.app

APS_CLIENT_ID=6qPXcBixGRLE0qLG2TVAaopciiO5Dd4v1lldIV0GUIA0VhDc
APS_CLIENT_SECRET=yldB7AqPPgyZgc2aTpnuz3J5t2MSNWQnhERNKGTtGPjxJbNbqc3m30WIIABqN1eN
APS_BUCKET_KEY=walkability-tool-bucket